<h1>Postres</h1>

 <div class="drinks-container">
    
     {{#each pastries}}
     <div class="col-3 edge-padding">
            <div class="product-edge">
                    <img src={{url}} class="card-img-top max-img" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{name}}</h4>
                        <p class="card-text">{{description}}</p>
                        <span class="badge text-bg-warning">Precio: ${{price}}</span>

                    </div>
                        <button onclick="addToCart(`{{_id}}`)" class="btn d-grid gap-2"> Agregar <i class="fa-solid fa-cart-shopping"></i></button>
                        {{#if ../admin}}   
                        <a href="/edit/{{_id}}"><button class="btn d-grid gap-2"> Editar </button></a>
                        <a href="/delete/{{_id}}"><button type="button" class="btn"> Eliminar </button></a>
                        {{/if}}
            </div>
        </div>
     {{/each}}
  </div>
